<h1>我的收货地址</h1>
<div class="row">
  <div class="container">
    <div id="address_list">

    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script>
    $.get('/addresses', function(data) {
      $('#address_list').html(data);
    })
  </script>
<% end %>
