<h1>支付结果</h1>
<div class="row">
  <div class="container">
    <div class="alert alert-success">
      <h2><i class="fa fa-check-circle"></i> 支付成功</h2>
    </div>
    <a href="<%= root_path %>">继续购物</a>
  </div>
</div>
