@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.form-body {
  padding: 20px;
  border: 1px solid #eee;
}
input[type="file"] {
  &.image-input {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 20px;
    border-radius: 4px
  }
}
